@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

html, body {
  height: 100%;
  /* min-height: 100%; */
  overflow-x: hidden;
  font-family: 'Ubuntu','NEXON Lv2 Gothic', sans-serif;
  color: #767884;
  letter-spacing: -0.3px;
  background: #f1f2f3
}
a{ color: #1b74e2}
a:hover{ color: #2b82ed;}

/* Container */
#container {
  padding-bottom: 100px;
  min-height: calc(100% - 244px);
  /* background-color: #f8f9fc */
}
@media screen and (max-width: 767px){
  html, body{ font-size: 14px}
  #container{ padding-top: 0; padding-bottom: 50px;}
}

/* Menu */
/* Menu Button */
.menu-btn {
  height: 30px!important; width: 30px!important;
  margin-right: 0.9375rem; padding: 0 5px!important;
  background-color: transparent; border: none;
}

.menu-icon {
  position: relative; display: block;
  width: 70%; height: 2px; min-height: 2px;
  color: inherit; background-color: #fff; transition: all .4s ease;
}

.menu-icon:after,
.menu-icon:before {
  content: "";
  position: absolute; display: block;
  min-height: 2px; left: 0; height: 2px;
  color: inherit; background-color: inherit;
  transition: all .4s ease;
}

.menu-btn .menu-icon:before { width: 130%; top: -6px;}
.menu-btn .menu-icon:after { width: 120%; bottom: -6px;}
.menu-btn:hover .menu-icon,
.menu-btn:hover .menu-icon:after,
.menu-btn:hover .menu-icon:before { width: 100%; }


/* Header */
.site-header {
  background: #1b2945;
}
.site-header .wrap{
  display: flex;
  padding-left: 0; padding-right: 0; width: 100%; height: 70px;
  color: #FFF; align-items: center;
}
.navbar-brand{ width: 107px; height: 20px; background: url('../img/logo.png') no-repeat 0 -181px / 360px;}
@media screen and (max-width: 1199px){
  .site-header{ position: sticky; top: 0; z-index: 4}
}
@media screen and (max-width: 767px){
  .site-header .wrap{ padding-left: 0; height: 55px;}
  .navbar-brand{ width: 98px; height: 21px; background: url('../img/logo.png') no-repeat 0 -28px / cover;}
}

/* Footer */
.site-footer {
  position: relative;
  padding: 2.5rem;
  color: #999; font-size: 0.85em; background-color: #393d44
}
.site-footer a{ color: #fff; font-size:0.9rem}
.site-footer .modal{ font-size: 1rem; color: #343a40}


/* Navigation */
#gnb .navbar-toggler{ color: #fff}
@media screen and (min-width: 1200px){
  #gnb{ position: sticky; top: 0; background: #fff; border-bottom: 1px solid #e6e6e6; z-index: 100}
  #gnb .nav-item:first-child .nav-link{ padding-left: 0}
}
.navbar .nav-link{ color: #222}
#gnb .nav-link .badge-counter {
  position: absolute; right: .25rem; margin-top: -.25rem;
  font-size: 0.8rem;
  transform: scale(.7);
  transform-origin: top right;
}
#gnb .nav-link {
  display: flex; position: relative;
  padding-left: .75rem; padding-right: .75rem; height: 56px;
  align-items: center;
}
#right-nav .nav-link .feather{ width: 1.35rem; height: 1.35rem}
#right-nav .dropdown-item .feather { margin-right: 0.25rem; width: 1.15rem; height: 1.15rem; vertical-align: text-bottom}
#right-nav .alarm{ padding: 0; min-width: 400px}
.alarm .badge{ width: 45px}
.alarm small{ display: block}
.alarm .message{ margin: 0}
.alarm .list-group-item .col{ padding-left: 0}
.alarm p{ white-space: normal; line-height: 1.4rem}
.header-user .value{ color: #222; font-size: 1.1rem}
.header-user .badge{ padding: .25rem .4rem; font-weight: 400; line-height: 1;}
#main-nav .dropdown-menu{ border-radius: 0; border-color: #fff; background: #fff}
.user-mobile{ padding: 1.143rem 1.143rem 1rem; background-color: #293e67}
.user-mobile hr{ margin-left: -1.143rem; margin-right: -1.143rem; border-color: rgba(0,0,0,.12)}
.user-mobile span{ vertical-align: middle}
.user-mobile .sub-menu{ display: flex; margin-left: -1.143rem; margin-right: -1.143rem;
  align-items: center; font-size: 0.92rem; text-align: center}
.user-mobile .sub-menu > a,
.user-mobile .sub-menu > div{ flex: 1 1 auto; line-height: 1.2; border-right: 1px solid rgba(255,255,255,.15)}
.user-mobile .sub-menu > a:last-child,
.user-mobile .sub-menu > div:last-child{border-right-width: 0}
.user-mobile .sub-menu a{ color: #fff;}
.user-mobile .sub-menu a:hover{ text-decoration: none}
.user-mobile .sub-menu .feather{ margin-right: 4px; color: rgba(255, 255, 255, 0.5)}
#main-nav .user-mobile .dropdown .dropdown-toggle:after{ content:""}
#main-nav .user-mobile .dropdown-menu{top: 193%; border-radius: 5px}
#main-nav .user-mobile .nav-link{ height: auto}
.user-mobile .feather{ width: 0.9rem; height: 0.9rem}
.user-mobile .profile{ display: flex; align-items: center; color: #fff;}
.user-mobile .button{ margin-left: auto; font-size: 0.9rem}
.user-mobile .value{ display: block; font-size: 1.125rem; color: #fff}
.user-mobile .button a{
  padding: 0.4rem 0.65rem;
  color: #fff; text-decoration: none;
  background: rgba(255, 255, 255, 0.11); border-radius: 100px;
}
@media screen and (max-width: 1199px){
  #gnb .navbar{ padding: 0;}
  #main-nav.navbar-collapse{
    position: fixed; top:0; left: -300px; bottom: 0;
    display: block;
    width: 300px; height: 100% !important; /* 애니메이션 때문에 넣음 */
    z-index: 10000;
    background: #22304c;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: 0.2s;
    /* transition-duration: : 0.2s; */
  }
  #main-nav.navbar-collapse.show{
    bottom: 0;
    margin-left: 0;
    -webkit-transform: translate3d(300px, 0, 0);
    -ms-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
    transition: 0.2s;
    overflow-y: auto;
  }
  #main-nav .nav-link{
    padding-left: 1.2rem;
    height: 3rem; color: #f8f8f8; border-bottom: 1px solid #283652
  }
  #main-nav .nav-link:hover{
    color: #fff;
    background-color: #2486ff;
    transition: 0.3s;
  }
  #main-nav .dropdown-menu{ margin: 0; padding: .65rem 0; background-color: #2c3b58; border: none; border-radius: 0; }
  #main-nav .dropdown-item{ padding: .45rem 1.2rem; font-size: 0.9rem; color: #fff; }
  #main-nav .dropdown-item:hover{ color: #2486ff; background-color: transparent; transition: 0.3s}
  #main-nav .dropdown .dropdown-toggle::after {
    content: '\f105';
    top: 50%; right: 18px;
    display: block; position: absolute;
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: transform 0.2s;
    border: none;
  }
  #main-nav .dropdown.show .dropdown-toggle:after{
    -webkit-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
  }

  .show.site-overlay{
    display: block; position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-animation: fade 500ms;
    animation: fade 500ms;
    z-index: 5;
  }
}
@media screen and (max-width: 767px){
#main-nav.navbar-collapse{position: fixed; top:0; height: 100% !important; /* 애니메이션 때문에 넣음 */}
  #right-nav{ right: 0; padding: 0;}
  #right-nav .nav-link{ padding-left: 9px; padding-right: 9px; height: 47px;}
  #right-nav .nav-item.ml-auto .btn{ margin-right: 1.2rem;}
  #right-nav .alarm{ right: 10px; min-width: 300px}
  #right-nav .list-group-item{ padding-left: 1rem; padding-right: 1rem}
  #right-nav .list-group-item .row{ margin-left: -1rem; margin-right: -1rem;}
  .alarm .badge{ width: 40px}
  #right-nav .buy{ margin-left: 10px;}
}

.no-arrow.dropdown-toggle::after{ content: none}
.dropdown-menu-lg{ width: 250px }
.dropdown-menu-right{ right: 18px;}
.dropdown-toggle::after{
  content: "\f107"; margin-left: 5px;
  font-family: "Font Awesome 5 Free"; font-weight: 600; font-size: 0.75rem;
  border: none; vertical-align: middle;
}
.dropdown-item:focus, .dropdown-item:hover{ background-color: #f0f2f5}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #2486ff;
}

/* Site Overlay */
.site-overlay {
  display: none;
}



/***********************************************
*** Bootstrap Style
***********************************************/
.form-control::-webkit-input-placeholder { color: #a9b9ca; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #a9b9ca; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #a9b9ca; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #a9b9ca; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #a9b9ca; }  /* Microsoft Edge */
.form-group label{ margin-bottom: .5rem}

/* nav dropdown */
.dropdown-toggle::after { transition: transform 0.15s linear;}
.show.dropdown .dropdown-toggle::after {transform: translateY(3px);}
.dropdown-menu {margin-top: 0;} /* hover 메뉴때문에 넣음 */


/* container */
@media (min-width: 768px) {
  .container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
    padding-left: 24px; padding-right: 24px;
  }
  .container-sm { max-width: 720px}
}
@media (min-width: 1200px) {
  .container-xl { max-width: 1200px;}
}


/* visual */
.shadow{ box-shadow: 0 0.3rem 1.3rem 0px rgba(90, 91, 101, 0.15)!important}
.btn{padding: 0.5rem 1.2rem; border-radius: 100px;}
.btn.shadow{ box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important}

.bg-light{ background-color: #f1f2f3 !important}

/* button */
.btn-area{ text-align: center }
.btn-area .btn{ min-width: 110px; padding: .875rem 1.25rem; height: 3rem; font-size: 0.9rem; line-height: 1.4}
.btn-area .btn.shadow { margin-right: 7px;}
.btn-area .btn-big{ width: 100%; font-size: 18px; height: 60px; border-radius: 2px}
.btn-area.mt-4{ margin-top: 35px !important; margin-bottom: 10px}
@media (min-width: 768px) {
  .btn-area .btn.shadow { min-width: 170px}
  .btn-area .btn.shadow:last-child{ margin-right: 0}
  .btn-area .btn-big{ width: 300px;}
}

.btn:hover{ transform: translateY(-1px) }
.btn-group .btn, .input-group .btn { margin-right: 0; transform: translateY(0) }

.badge-info,.btn-info{ background-color: #36b9cc; border-color: #36b9cc}
.badge-warning,.btn-warning{ background-color: #f6c23e }
.badge-danger,.btn-danger{ background-color: #e74a3b }
.badge-secondary,.btn-secondary{ background-color: #586c98; border-color: #586c98}
.badge-gray,.btn-gray{ background-color: #969fb3; border-color: #969fb3; color: #fff}
.btn-info:hover{ background-color: #20a6b9; border-color: #20a6b9}
.btn-secondary:hover{ background-color: #4c618e; border-color: #4c618e}
.btn-outline-secondary{border-color: #b9bdc7}
.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show>.btn-outline-secondary.dropdown-toggle{color: #fff; background-color: #4c618e; border-color: #4c618e}


.btn-primary,
.badge-primary { color: #fff;
  border-color: #1b74e2;
  background-color: #1b74e2;}
.btn-primary:hover { color: #fff;
  border-color: #1269d5;
  background-color: #1269d5}
.btn-primary.focus,
.btn-primary:focus { box-shadow: 0 0 0 0.2rem rgba(36, 134, 255, 0.5)}
.btn-primary.disabled,
.btn-primary:disabled { color: #fff;
  border-color: #1269d5;
  background-color: #1269d5}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle { color: #fff;
  border-color: #1269d5;
  background-color: #1269d5}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus { box-shadow: none, 0 0 0 0 rgba(36, 134, 255, 0.5)}

.btn-success,
.badge-success { color: #fff;
  border-color: #2dce89;
  background-color: #2dce89;}
.btn-success:hover { color: #fff;
  border-color: #24a46d;
  background-color: #24a46d}
.btn-success.focus,
.btn-success:focus { box-shadow: 0 0 0 0.2rem rgba(45, 206, 137, .5)}
.btn-success.disabled,
.btn-success:disabled { color: #fff;
  border-color: #24a46d;
  background-color: #24a46d}
.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show>.btn-success.dropdown-toggle { color: #fff;
  border-color: #24a46d;
  background-color: #24a46d}
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-success.dropdown-toggle:focus { box-shadow: none, 0 0 0 0 rgba(45, 206, 137, .5)}

.btn-secondary,
.badge-secondary { color: #fff;
  border-color: #586c98;
  background-color: #586c98;}
.btn-secondary:hover { color: #fff;
  border-color: #4c618e;
  background-color: #4c618e}
.btn-secondary.focus,
.btn-secondary:focus { box-shadow: 0 0 0 0.2rem rgba(135, 144, 203, 0.5)}
.btn-secondary.disabled,
.btn-secondary:disabled { color: #fff;
  border-color: #4c618e;
  background-color: #4c618e}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle { color: #fff;
  border-color: #4c618e;
  background-color: #4c618e}
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus { box-shadow: none, 0 0 0 0 rgba(135, 144, 203, 0.5)}

.btn-info,
.badge-info { color: #fff;
  border-color: #36b9cc;
  background-color: #36b9cc;}
.btn-info:hover { color: #fff;
  border-color: #20a6b9;
  background-color: #20a6b9}
.btn-info.focus,
.btn-info:focus { box-shadow: 0 0 0 0.2rem rgba(17, 205, 239, .5)}
.btn-info.disabled,
.btn-info:disabled { color: #fff;
  border-color: #20a6b9;
  background-color: #20a6b9}
.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show>.btn-info.dropdown-toggle { color: #fff;
  border-color: #20a6b9;
  background-color: #20a6b9}
.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.show>.btn-info.dropdown-toggle:focus { box-shadow: none, 0 0 0 0 rgba(17, 205, 239, .5)}




.text-primary{ color: #2486ff !important}
.text-success{ color: #2dce89!important}
.text-danger{ color: #e74a3b !important}
.text-info{ color: #36b9cc !important}
.text-warning{ color: #fdc127!important}
.text-blue{ color: #2c74e0}
.text-muted{ color: #87a3bb !important}
.text-gray{ color: #9aa5b5}
.text-sm{ font-size: .87rem}
.code{ font-family: 'Ubuntu Mono';}


.badge{ padding: .4em .3em; line-height: 1.2}

/* card */
.card{ border-color: #e3e6f0; border-radius: 0.35rem}
.card-header{ background-color: #f8f9fc; border-bottom-color: #e3e6f0}
.card-header:first-child {border-radius: calc(.35rem - 1px) calc(.35rem - 1px) 0 0;}
.card-footer:last-child {border-radius: 0 0 calc(.35rem - 1px) calc(.35rem - 1px);}
.card.info{ background: #f2f6fa; border-color: transparent}
.card-body .title{ font-size: 1rem; color: #213258}
.card-body .title .feather{ margin-right: 5px; width: 20px; height: 20px; vertical-align: bottom}

.h1,h1{font-size:2rem}
.h2,h2{font-size:1.75rem}
.h3,h3{font-size:1.5rem}
.h4,h4{font-size:1.25rem}
.h5,h5{font-size:1rem}
.h6,h6{font-size:0.88rem; line-height: 1.4rem}
.sub-title{ margin-top: 2rem; font-size: 1.25rem; color:#222; font-weight: bold}
.sub-title small{margin-left: 7px}
.dark .sub-title{ color: #fff;}
.form-row .sub-title{ margin-top: 0}


.no-letter{ letter-spacing: 0}
.break-word{ word-break: break-all}
.no-deco{ background: transparent !important}
.no-deco:hover,
.no-deco:focus,
.no-deco:active{ color: inherit; background: transparent !important}
.no-data{ text-align: center}

.mobile-tab{background: #fff; border-radius: .25rem}
.mobile-tab .nav{ display: inline-flex;
  padding-left: 20px;
  width: calc(100%);
  -ms-overflow-style: none; /*// IE 10+*/
  overflow: -moz-scrollbars-none;/*// Firefox*/
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap:nowrap;
  border-bottom: 1px solid #e3e6f0;
}
.mobile-tab .nav .nav-link{ margin-right: 0; padding: 1.6rem 1rem .8rem; font-size: 0.9rem}
.mobile-tab .tab-content{ padding: 1.5rem}
@media screen and (max-width: 768px){
  .mobile-tab{margin: 0 -15px;}
  .mobile-tab .nav .nav-link{ padding: 1rem 1rem .75rem; }
}


/* modal */
.alert-modal .modal-body{ padding: .7rem 1rem; text-align: center}
.alert-modal .modal-header{ border: none;}
.alert-modal .modal-title{ padding-top: 1.7rem; text-align: center; font-size: 1.25rem; color: #222;}
.alert-modal .text{ margin: .5rem 0 0}
.alert-modal .modal-footer{ padding-bottom: 1rem; border-top-color: transparent; justify-content: center}
.alert-modal .modal-footer .btn{ min-width: 100px; border-radius: 100px}

.modal-header{ background: #f1f2f3}
.modal-title{ color: #222; font-size: 1.2rem}

/* input */
input[type="checkbox"], input[type="radio"]{ width: 22px; height: 22px;}
label > input[type=radio]:checked + span { font-weight: bold; color: #0c1337}

/* form */
.form-control,
.custom-select{ padding: 0.6rem 1rem; height: 3.15rem; font-size: 1rem; border-color: #e1e6ea;}
.form-border{ padding: 0.9375rem; border: 1px solid #e1e6ea; border-radius: 4px; word-break: break-all;}
textarea.form-control{ height: auto}
.form-check{ padding-left: 30px}
.form-check-input{ left: 0; margin-top: 1px; margin-left: 0}
.custom-control{ padding-left: 1.75rem}
.custom-control-label::before,
.custom-control-label::after{ top: .15rem; left: -1.75rem; width: 1.25rem; height: 1.25rem;}


/* table */
.table thead th {
  padding-top: .75rem; padding-bottom: .75rem;
  font-size: .65rem; text-transform: uppercase; border-bottom: 1px solid #e9ecef;
}
.table td, .table th{ padding: 13px 0.9375rem; border-top: 1px solid #e9ecef; vertical-align: middle;}
.table tr:last-child td,
.table tr:last-child th{ border-bottom: 1px solid #e9ecef}
.table .badge,
.board .badge{ padding: 7px 12px; border-radius: 100px}
.d-table{ width: 100%}
.d-table .tr{ display: table-row;}
.d-table .cell,.d-table .th,.d-table .td{ display: table-cell}
.d-table .th{ font-weight: 600}
.d-table.
@media screen and (max-width: 576px) {
  .table-responsive{ margin-bottom: 20px; border:1px solid #aeb9d8}
  .table-responsive .table{ margin-bottom: 0; min-width: 580px}
  .table td, .table th{ padding-right: 0; font-size: 14px}
}
@media (max-width: 767px){
  .d-table.mobile{ display: block;}
  .d-table.mobile .cell,.d-table.mobile .th,.d-table.mobile .td{ display: block}
}


/* pagenation */
.page-item .page-link,
.page-item span{
  display: flex; margin: 0 2px; padding: 0;
  width: 36px;  height: 36px;
  font-size: .875rem; border-radius: 50%!important; align-items: center; justify-content: center;
}
.page-link:focus{ box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);}
@media screen and (max-width: 767px) {
  .page-item .page-link,
  .page-item span{ width: 26px; height: 26px; font-size: 14px}
}


/* *******************************************
** common style
** ------------------------------------------ */
.wrap{ margin: 0 auto; padding: 0 1rem; max-width: 1100px}
.text-over{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.bar{ display: inline-block; margin-left: 10px; margin-right: 10px; height: 15px; border-left: 1px solid #ddd; vertical-align: middle;}
[class^="feather-"], [class*=" feather-"]{ vertical-align: text-bottom;}

.visual{ padding-top: 100px; height: 500px; text-align: center; color: #fff}
.visual h2{ font-size: 28px; font-weight: 400}
.visual h2 span{ z-index: 0}
.visual h2 span::before{ content: ""; background: #ecc503;
  position: absolute; top: 55%; width: 100%; height: 17px; z-index: -1;
}
.visual p{ margin: 0; font-size: 60px; line-height: 1.3; font-weight: 300}
.page-savings .visual{ background: #42af80}
.page-installment .visual{ background: #c36368}
.page-loan .visual{ background: #5d79b9}

.location{ padding-top: 2.5rem; padding-bottom: 2rem;}
.location h2{ font-size: 32px; color: #222; font-weight: 400}
.location h2 span{ z-index: 0}
.location h2 span::before{ content: ""; background: #ffe530;
  position: absolute; top: 55%; margin-left: -2%; width: 104%; height: 17px; z-index: -1;
}
@media screen and (max-width: 1199px) {
  .m-pd{ padding-left:15px; padding-right:15px}
}
@media screen and (max-width: 767px) {
  .visual{ padding-top: 36px; height: 280px;}
  .visual h2{ font-size: 18px;}
  .visual h2 span::before{ height: 13px}
  .visual p{ font-size: 28px;}

  .location{ padding-top: 20px; padding-bottom: 10px}
  .location h2{ font-size: 20px;}
  .location h2 span::before{ height: 13px}
}

/* content */
.content{ padding-top: 40px; padding-bottom: 40px;}
@media screen and (max-width: 767px) {
  .content{ padding-top: 23px; padding-bottom: 20px;}
}

.dark .col-form-label{ color: #9eb8d4}
.dark hr{ border-color: rgba(255, 255, 255, 0.31)}


/* form */
.basic-form{ margin-bottom: 1rem; border-top: 1px solid #cbd1d6}
.basic-form .form-row{ margin: 0; padding-top: .625rem; padding-bottom: .625rem; border-bottom: 1px solid #e1e6ea;}
.basic-form .form-row [class*=col-]:first-child{ padding-left: 0}
.basic-form .form-row [class*=col-]:last-child{ padding-right: 0}
.basic-form .form-control,
.basic-form .custom-select{font-weight: 500}
.basic-form + .btn-area{ margin-top: 45px}
.basic-list{ display: flex; padding-top: .625rem; padding-bottom: .625rem;
  min-height: 4.375rem; border-bottom: 1px solid #e1e6ea; align-items: center; flex-wrap: wrap;}
.dark .basic-list{ border-color: rgba(255, 255, 255, 0.31)}
/* .basic-list .label{ color: inherit} */
.basic-list .value{ margin-left: auto; font-size: 20px; color: #222; font-weight: 500; letter-spacing: 0}
.basic-list .unit{ font-size: 16px; color: #6c757d; font-weight: 400}
.basic-list .value.lg{ font-size: 25px;}
.dark .basic-list .label{ color: #9eb8d4}
.dark .basic-list .value{ color: #fff}
@media screen and (max-width: 575px) {
  .basic-form .form-row .col-form-label{ padding-top: 4px}
  .basic-form .form-row [class*=col-]:last-child{ margin-bottom: 0.4rem; padding-left: 0}
  .basic-form + .btn-area{ margin-top: 25px}
  .basic-list > span, .basic-list > div{ width: 100%}
  .basic-list .label{ padding-top: 4px}
  .basic-list .value{ margin-top: 10px}
}
@media screen and (min-width: 576px) {
  .basic-form .form-row,
  .basic-list{ padding-left: 1.8rem; padding-right: 1.8rem}
  .basic-form .form-control,
  .basic-form .custom-select{ font-size: 20px;}
  .basic-form .form-row .col-form-label{ padding-top: 10px}
  .basic-form label{padding-top: 0.6rem; }
  .basic-form .label,
  .basic-form .col-form-label{ font-size: 18px }
}


/***********************************************
*** Main Page Style
***********************************************/
.main-news{ padding: 20px 0; background-color: #ddd}

.main-banner{ height: 500px; background: #4268b5}
.main-banner .image{ height: 100%;}
.main-banner .banner01{ background: url('../img/banner_01.png') top center}

.main-card .box{ margin-top: -80px; padding: 50px; background: #fff}
.main-card .btn-lg{ border-radius: 0}
.main-card .link a{ display: inline-block; margin: 0 5px; width: 80px; height: 80px;
  font-size: 15px; line-height: 80px; color: #586c98; background: #f3f3f3; border-radius: 100px}
.main-card .link a:hover{ background: #d7e5f5; text-decoration: none; transition: 0.2s}
.main-card .notice a{ margin: 2px 0; color: inherit}

.main-service .row{ margin-top: 100px; margin-bottom: 100px; align-items: center}
.main-service .text-area{ padding-left: 40px}
.main-service .text-area.left{ padding-left: 0; padding-right: 40px; text-align: right}
.main-service h2{ font-size: 24px;}
.main-service h2::before{ content: ""; background: #ffe530;
  position: absolute; top: 15px; width: 45px; height: 14px; z-index: 0;
}
.main-service h3{ font-size: 39px; line-height: 1.3; color: #222; letter-spacing: -1.7px}
.main-service img{ display: inline-block; background: #ddd; }
@media (max-width: 1099px) {
  .main-banner{ height: 400px}
  .main-banner .image{ background-size: cover}
  .main-card{padding-left: 15px; padding-right: 15px}
  .main-card .wrap{ padding: 35px}
  .main-service{ padding-left: 30px; padding-right: 30px}
  .main-service h2{ font-size: 17px;}
  .main-service h2::before{ width: 32px; top: 12px; height: 10px}
  .main-service h3{ font-size: 25px;}
}
@media (max-width: 767px) {
  .main-banner{ height: 225px}
  .main-banner .image{ background-size: 700px}
  .main-card .box{ padding: 35px;}
  .main-card .row > div:not(:last-child){ margin-bottom: 30px}
  .main-card .link{ padding-left: 0; padding-right: 0}
  .main-service .row{ margin-top: 50px; margin-bottom: 50px}
  .main-service .text-area,
  .main-service .text-area.left{ padding-left: 0; padding-right: 0; text-align: center}
  .main-service img{ margin-bottom: 20px; width: 100%}
}

.main-section{ padding-top: 80px; padding-bottom: 80px; }
.main-section h2{ font-size: 37px; text-align: center; color: #fff; letter-spacing: -2px}
.main-section h3{ font-size: 18px; text-align: center; color: #b9b9b9; letter-spacing: -0.75px}
.main-section .btn-area{ margin-top: 60px; text-align: left}

/* 공지 롤링 */
.main-notice{ padding-top: 1.2rem; padding-bottom: 1.1rem;
  font-size: 1.15rem; color: #fff; text-align: center; background: #212327}
.main-notice a{ color: inherit;}
.roll-list{ height: 27px; overflow: hidden;}
.roll-list li{ height: 27px;}
.roll-list ul{position: relative; }
@media (max-width: 767px) {
  .main-section{ padding-top: 50px; padding-bottom: 40px; }
  .main-section h2{ margin-bottom: 11px; font-size: 1.5rem;}
  .main-section h3{ font-size: 13px;}
  .main-section .btn-area{ margin-top: 30px;}

  .main-notice{ font-size: 1.1rem}
}


/***********************************************
*** Sub Page Style
***********************************************/
.product-area{ margin-top: -100px;}
.product .box{ margin-bottom: 20px; padding: 50px; background: #fff}
.product .title{ display: block; font-size: 36px; margin-bottom: 1rem; color: #1b2945;}
.product .td.label{ min-width: 100px; color: #222; }
.product .td{ padding-top: 2px; padding-bottom: 2px}
.product .btn-block{ margin-top: 1.2rem; height: 60px; border-radius: 0}
@media screen and (max-width: 767px) {
  .product .box{ padding: 30px}
  .product .title{ font-size: 24px}
  .product .btn-block{ height: 48px}
}

.product-info{ margin-bottom: 40px}
.product-info li{ margin-right: 1rem; margin-bottom: 0.5rem}
.product-info i{ margin-right: 2px; color: #1b74e2}

.product-info{ display: flex; align-items: center; flex-wrap: wrap;}
@media screen and (max-width: 767px) {
  .product-info{ margin-bottom: 20px}
  .product-info li{ margin-right: 0; width: 50%}
}
@media screen and (min-width: 768px) {
  .product-info li{ font-size: 18px}
}


/* page-tab */
/* .page-tab ul{ display: flex;} */
.page-tab ul{ display: inline-flex; flex-wrap: nowrap;overflow-x: auto;
  width: 100%; overflow-y: hidden; white-space:nowrap}
.page-tab li{ position: relative;margin-right: 40px;}
.page-tab .tab-link{
  display: block; padding-bottom: 10px;
  color: #8e9eb7; border-bottom: 4px solid transparent;
  font-size: 0.9375rem; text-decoration: none; outline: none; }
.page-tab .tab-link:after{ content: "";
  display: block; position: absolute; left: 50%; bottom: 0; width: 0; height: 4px;
  background-color: #2486ff; transition: 0.3s;
}
.page-tab .tab-link:hover::after,
.page-tab .tab-link.active:after{ left: 0; width: 100%;}
.page-tab .tab-link:hover,
.page-tab .tab-link.active{ color: #2486ff; transition: 0.3s;}
@media screen and (max-width: 576px) {
  .page-tab li{ margin-right: 25px;}
}

.nav .nav-link{ margin-right: 20px; padding: 0 0 4px 0; color: #1b2945; font-weight: bold;
  border-bottom: 3px solid transparent; transition: 0.3s}
.nav .nav-link:hover{  color: #1b2945; transition: 0.3s}
.nav-link.active{ color: #36b9cc; border-bottom-color: #36b9cc}


/* search title 거래리스트 상단 타이틀 */
.search-title{ margin-bottom: 18px; align-items: center}
.search-title .form-control,
.search-title .custom-select,
.search-title .btn{ height: 2.39rem; }
.search-title .btn{ line-height: 1}
.search-title .btn .feather{ width: 1.2rem; height: 1.2rem; vertical-align: middle;}
.search-title .form-row{ align-items: center}
.search-title .form-row.second{ margin: 0;}
@media screen and (max-width: 767px) {
  .search-title .second{ width:100%; margin-left: 0}
  .search-title .mobile-pr{padding-right: 10px}
  .search-title .mobile-mb{margin-bottom: 10px;}
}
@media screen and (min-width: 768px){
  .search-title .date-wrap{ max-width: 310px}
}




/* login page */
.logo{width: 107px; height: 21px; background: url('../img/logo.png') no-repeat 0 -72px / 360px;}
.login .input-group-text{ color: #999eb3; background: #fff; border-color: #e1e6ea}
.login{ background: #5e72e4 url('../img/login_bg.jpg') no-repeat center top / cover}
@media (min-width: 2020px) {
  .login{ background-size: cover}
}
.blank-page{ height: 100%; background: url('../img/bg.png') no-repeat top right / cover}
.login h1{ margin-top: 2.5rem; margin-bottom: 2rem; font-size: 30px; color: #222; font-weight: 600}
.logo-login{ max-width: 135px; height: 21px}
.login .card{ width: 480px; min-height: 100vh; border:none; border-radius: 0}
.login .card-body{ padding: 45px 70px 37px;}
.login .align-items-end{ padding-top: 0}
.login .dropdown-toggle:hover{ text-decoration: none}

.login .input-group-append > .input-group-text{ border-left: 0}
.login .text-area p{margin:5px 0}
.login .btn-area{ margin-top: 2rem}
.login .btn-area .btn{ padding: 1rem; height: 3.5rem; font-size: 1.1rem; border-radius: 0.45rem}
.login .link{ font-weight: bold; text-decoration: underline;}
.sms-time { position: absolute; top: 0.5rem; right: 17px; font-size: 1.25rem}

@media (max-width: 767px) {
  .logo{ width: 98px; height: 21px; background: url('../img/logo.png') no-repeat 0 -28px / cover;}
  .login .card{ width: 100%}
  .login .feather{ width: 20px; height: 20px;}
  .login .card-body{ padding: 30px 30px 20px;}
  .login .text-area p{ font-size: 13px}
  .login .btn-area .btn{ padding-top: 0.875rem;}
}


/* 빈페이지 */
.blank-page h1{margin-top: 2rem; margin-bottom: 2rem; font-size: 1.375rem; color: #222; text-align: center}
.blank-page .feather{ width: 70px; height: 70px; }






/* 충전 */
.table.charge{ min-width: 500px}
.wallet-address .address{
  padding: 0.9375rem; font-size: 1.25rem; text-align: center; word-break: break-all;
  line-height: 1.2; border: 2px solid #2486ff; border-radius: .3rem .3rem 0 0}
.wallet-address .btn{ display: block; padding: .7rem; width: 100%; font-size: 0.9rem; border-radius: 0 0 .3rem .3rem}
.qrcode img{ max-width: 200px}

/* 마이페이지 */
.mypage{ padding-top: 1.2rem; padding-bottom: 1.2rem}
.asset{ display: inline-block; margin-top: 0; padding: 0 24px 0 0; text-align: left;}
.asset dt{ font-size: 13px; color: #555; font-weight: normal;}
.asset dd{ margin: 0; font-size: 1.25rem; color: #000; font-weight: 500}
@media (min-width: 576px) {
  .mypage{ padding-top: 8rem;padding-bottom: 8rem}
}

/* 1:1문의 */
.table .subject{ color: #212529}
.reply li{ margin-top: 1rem; padding-bottom: 1rem; border-bottom: 1px solid #dee2e6}
.reply .name{ color: #343a40; font-weight: 600}
.reply .body{ font-size: 0.95rem; line-height: 1.7}
.board .title{ position: relative; padding-left: 1rem;}
.board .title .badge{ position: absolute; top: 15%; right: 15px}
.board h3{ margin-bottom: 0; font-size: 1.2rem; color: #222; }
.board .body{ margin-top: 1rem; padding: 1rem;
  min-height: 150px; line-height: 1.75;
  border-top: 1px solid #393d44; border-bottom: 1px solid #dee2e6}

@media (max-width: 575px) {
  .notice .date-area{ width: 30%}
  .board{ margin-left: -15px; margin-right: -15px}
}

/* 공지사항 */
.table.notice{ min-width: 350px;}
.notice .date-area{ width: 20%}
@media (max-width: 575px) {
  .notice .date-area{ width: 40%}
}

/* 추천인 계보도 */
#treeMenu {
	white-space:nowrap;
	overflow: scroll;
	height: 300px;
}
#treeMenu a{ color: inherit}
#treeMenu li {
  line-height: 18px;
  margin-top: 10px;
  padding: 0px 0px 0px 20px;
  box-sizing: border-box;
  position: relative;
  background:url(http://hcs1105.com/wp/wp-content/themes/hcs1105/images/bg_tree.gif) no-repeat 4px top;
}
#treeMenu li.end{
  background:url(http://hcs1105.com/wp/wp-content/themes/hcs1105/images/bg_treeEnd.gif) no-repeat 4px 0;
}
#treeMenu li button{
  width: 30px;
  height: 30px;
  border: 0 none;
  display:block;
  position:absolute;
  left:0;
  top:3px;
  overflow:hidden;
  text-indent:-9999em;
}
#treeMenu li button.open{
  background:url(http://hcs1105.com/wp/wp-content/themes/hcs1105/images/treeOpen.gif) no-repeat 0 0;
}
#treeMenu li button.close{
  background:url(http://hcs1105.com/wp/wp-content/themes/hcs1105/images/treeClose.gif) no-repeat 0 0;
}
.lastList::before {
  content: "- ";
  color: #CA1C13;
}
.moreList::before {
  content: "+ ";
  color: blue;
}
